# Introduccion a Python

Lenguaje de programación dinámico, interpretado y fácil de aprender<br>
clasificado como :<br>
* <b>Lenguaje de Alto nivel</b><br>
* <b>Lenguaje general </b><br>
* <b>Lenguaje Interpreatado</b><br>
  
>Creado por Guido van Rossum en 1991<br>
>Ampliamente utilizado en ciencia e ingeniería<br>

## Primera linea de codigo

In [1]:
print(Hola mundo)

SyntaxError: invalid syntax (<ipython-input-1-79bb49c0df15>, line 1)

Sin las comillas se muestra un error de sintaxis,
la manera correcta es:

In [2]:
print("Hola mundo")

Hola mundo

### Comentarios

Los comentarios son introducidos por un #.<br>
   • Pueden estar en línea. <br>
   • como al comienzo de una línea.<br>

In [3]:
# Este es un comentario

## Objetos y Variables

Son la abstraccion mas alta,dentro del lenguaje de programacion. <br>
son las formas en las que modelamos el mundo en nuestro lenguaje de programacion <br>
>Los objetos son valores en memoria. <br>
>Todo en python es un objeto <br>

### Variables

En Python, las variables no necesitan ser declaradas. <br>
* Por lo tanto, se escribe dinámicamente. <br>
* Una variable puede cambiar a cad momento de valor.<br>
<br>

In [4]:
a = 3
print ("El valor de a es:", a , "siendo de clase:", type ( a )) 
a  =  'Hola' 
print ("El valor de a es:", a , "siendo de clase:" ,  type ( a ))

El valor de a es: 3 siendo de clase: <class 'int'>
El valor de a es: Hola siendo de clase: <class 'str'>

En Python, los nombres de variables pueden:<br>
* incluir letras, dígitos y guiones bajos
* no puede comenzar con un dígito
* Se diferencia entre mayúsculas y minúsculas

In [5]:
# Declaracion de variable tipo entero
x=20;
# Declaracion de variable tipo cadena
y=10.30;
# Declaracion de variable tipo complejo
z= 2 + 3j
# Declaracion de variable tipo boleano
a= True;
# Declaracion de variable tipo none
b= None;
# Declaracion de Variables tipo Cadena
c="24";
# Declaracion de clase tipo lista
d= [1,3];
# Declaracion de clase tipo Diccionario
e={"Hola",20,30};
# Declaracion de clase tipo tuplas
f=(a,b,c);

#### Imprimendo tipos de variables

In [6]:
print ( x,"-",type (x))
print ( y,"-",type (y))
print ( z,"-",type (z))
print ( a,"-",type (a))
print ( b,"-",type (b))
print ( c,"-",type (c))
print ( d,"-",type (d))
print ( e,"-",type (e))
print ( f,"-",type (f))

20 - <class 'int'>
10.3 - <class 'float'>
(2+3j) - <class 'complex'>
True - <class 'bool'>
None - <class 'NoneType'>
24 - <class 'str'>
[1, 3] - <class 'list'>
{'Hola', 20, 30} - <class 'set'>
(True, None, '24') - <class 'tuple'>

Para convertir entre tipos numéricos podemos usar las funciones int, float y complex:

In [7]:
y=int(y); # convertir variable tipo flotante a entero
c=float(c);  # convertir variable tipo cadena a flotante
x=complex(x); # convertir variable tipo entero a complejo

In [8]:
print ( y,"-",type (y))
print ( c,"-",type (c))
print ( x,"-",type (x))

10 - <class 'int'>
24.0 - <class 'float'>
(20+0j) - <class 'complex'>

### Variables simples

#### Enteros (int)

Tienen precisión arbitraria. No se desbordan.

In [9]:
2**100

1267650600228229401496703205376

#### Flotantes

Son de tipo decimal.
* La precision es limitada.

In [10]:
# Al comparar da  como resultado false por los decimales
print(0.1 + 0.2 == 0.3)
print('0.1 = {0:.17f}'.format(0.1))
print('0.2 = {0:.17f}'.format(0.2))
print('0.3 = {0:.17f}'.format(0.3))
print('==========================')
# Al comparar 
print(0.2 + 0.3 == 0.5)
print('0.2 = {0:.17f}'.format(0.2))
print('0.3 = {0:.17f}'.format(0.3))
print('0.5 = {0:.17f}'.format(0.5))

False
0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999
==========================
True
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999
0.5 = 0.50000000000000000

#### Numeros complejos

* Algunos metodos paralos numeros complejos

In [11]:
n = 12 + 4j

In [12]:
print('Parte real:', n.real)
print('parte imaginaria:', n.imag)
print('Conjugado:', n.conjugate())
print('Magnitud:', abs(n))

Parte real: 12.0
parte imaginaria: 4.0
Conjugado: (12-4j)
Magnitud: 12.649110640673518

#### Cadenas

* Algunos metodos paralos numeros complejos

In [13]:
s = 'good morning'

In [14]:
print('Longitud:', len(s))
print('Convertir en Mayuscula:', s.upper())
print('Nombre propio:', s.capitalize())
print('Concatenar:', s + "señor")
print('Concatenacion multiple:', s * 4)
print (s[2]) #devuelve la posicion de la cadena comenzando desde cero
print (s[-3]) # Devuelve la poscicion de la cadena empezando del final
print (s[5:-1]) # Devuleve el intervalo de la cadena dentro del parametro

Longitud: 12
Convertir en Mayuscula: GOOD MORNING
Nombre propio: Good morning
Concatenar: good morningseñor
Concatenacion multiple: good morninggood morninggood morninggood morning
o
i
mornin

### Estructura de Datos

#### Listas

Las listas son colecciones de datos ordenadas y mutables . Se definen entre `[]`.

In [15]:
Litas_Elementos  =  [ 1 ,  'a' ,  [ 1 , 2 , 3 ]]

* Algunos metodos para las Listas

In [16]:
print ( Litas_Elementos [ 0 ]) 
print ( Litas_Elementos [ 2 ]) 
print ( Litas_Elementos [ 2 ] [ 2 ])

1
[1, 2, 3]
3

* Otros metodos de indexacion para Listas

In [17]:
L  =  [ 2 , 4 , 3 , 5 , 10 , 6 , 1 , 0 ]

In [18]:
print ( L [2:4])  # Devuelve el intervalo de lalista
print ( L [: 3 ]) 
print ( L [ 3 :]) 
print ( L [ 0 : - 1 : 2 ]) 
print ( L [:: 2 ])

[3, 5]
[2, 4, 3]
[5, 10, 6, 1, 0]
[2, 3, 10, 1]
[2, 3, 10, 1]

In [19]:
 L.sort()

* Algunos métodos útiles son:

In [20]:
print('Longitud:', len(Litas_Elementos)) # Longitud de la lista
Litas_Elementos.append(200) # Agrega elementos a la lista
Litas_Elementos.remove("a") # Remueve el elemento seleccionado
print('Agregando elemento:', Litas_Elementos) # imprime lista con elementos agregados y eliminados
print('Concatenar:', Litas_Elementos + [25,35,45]) #
L.sort() # ordena los elementos de la lista
print('Clasificacion:', L) # imprime lista ordenada

Longitud: 3
Agregando elemento: [1, [1, 2, 3], 200]
Concatenar: [1, [1, 2, 3], 200, 25, 35, 45]
Clasificacion: [0, 1, 2, 3, 4, 5, 6, 10]

* Operacion entre listas

In [21]:
Nueva_Lista = Litas_Elementos + L;
print(Nueva_Lista)

[1, [1, 2, 3], 200, 0, 1, 2, 3, 4, 5, 6, 10]

#### Tuplas

Las tuplas son similares a las listas, pero se definen entre paréntesis en lugar de corchetes. <br>
* Son inmutables.
* No tienen métodos para agregar y eliminar elementos.

In [22]:
T  =  ( 1 , 2,'a' ) 
print ( T [ 0 ]) #imprime le valor en la poscicion 0

1

In [31]:
T.index(1) #devuelve la posicion del elemento
T.count(2)
print (T)

(1, 2, 'a')

#### Diccionarios

## Operadores

In [24]:
# devuelve una operaicon aritmetica
print ('Operacion aritmetica: ' ,  20 + 5 )

# devuelve la divison de:
print ('División: ' ,  17  /  8 )

# Devuelve el entero de la division:
print ('División entero: ' ,  17  //  8 )

# 
print ( 'Módulo: ' ,  18  %  9 )

# 
print ( 'Exponenciación: ' ,  2 ** 4 )

# Devuelve el valor absoluto con abs:
print("Valor absoluto: ",abs(-2.345))

# valor asbsoluto de numeros complejos
print("Valor absoluto (C): ",abs(2+5j))
# 
import numpy as np
print('Matriz multiplicacion: ', np.array([1,2]) @ np.array([2,3]))

Operacion aritmetica:  25
División:  2.125
División entero:  2
Módulo:  0
Exponenciación:  16
Valor absoluto:  2.345
Valor absoluto (C):  5.385164807134504
Matriz multiplicacion:  8

In [25]:
#Declaracion de Variables Numericcas
m=2;
n=3;
#operacion con variables
print ("Resultado:")
print (m+n)

Resultado:
5

### Otro Operadores

También tenemos los operadores de comparación:

In [26]:
# comparacion de igualdad
print ( 12 ==  16 ) 
# comparacion de diferencia
print ( 12  !=  16 ) 
# comparacion menor que
print ( 12  <  16 ) 
# comparacion mayor que
print ( 12  >  16 )
# comparacion mayor igual que
print ( 12  >= 16 ) 
# comparacion menor igual que
print ( 12  <= 16 )

False
True
True
False
False
True

* Podemos combinar estas condiciones usando operaciones booleanas:

In [27]:
print ( 12  !=  13  and  12  <  13 ) 
print ( 12  ==  13  and  12  <  13 ) 
print ( 12  ==  13  or  12  <  13 )

True
False
True

* Algunas otras operaciones son tales que:

In [28]:
print(12 is 13)
print(12 is not 13)
print(12 in [12,13])
print(12 not in [12,13])

False
True
True
False

* Comparaciones logicas

In [29]:
print("comparaciones con and:")
print(False and False)
print(True and True)
print(True and False)
print("===================")
print("comparaciones con or:")
print(False or False)
print(True or True)
print(True or False)

comparaciones con and:
False
True
False
===================
comparaciones con or:
False
True
True