In [5]:
cd E:\PRO - PROGRAMACION E INGENIERIA\Curso Python en Hidrologia\Sesiones\Sesion 9\Datos Canete

E:\PRO - PROGRAMACION E INGENIERIA\Curso Python en Hidrologia\Sesiones\Sesion 9\Datos Canete

In [3]:
ls

 El volumen de la unidad E es INGENIERIA CIVIL
 El nÂ£mero de serie del volumen es: F2A6-3780

 Directorio de E:\PRO - PROGRAMACION E INGENIERIA\Curso Python en Hidrologia\Sesiones\Sesion 9\Datos Canete

07/02/2015  09:59    <DIR>          .
07/02/2015  09:59    <DIR>          ..
07/02/2015  09:59           434,637 1_CARANIA.xlsx
07/02/2015  09:59           409,186 2_HUANGASCAR.xlsx
07/02/2015  09:59           389,643 3_PACARAN.xlsx
07/02/2015  09:59           446,477 4_TANTA.xlsx
07/02/2015  09:59           453,945 5_VILCA.xlsx
07/02/2015  09:59           422,906 6_YAUYOS.xlsx
07/02/2015  09:59           307,808 7_HUANTAN.xlsx
07/02/2015  09:59           175,847 8_TOMAS.xlsx
07/02/2015  09:59           262,426 9_YAURICOCHA.xlsx
07/02/2015  09:59            16,362 Caudales.xlsx
07/02/2015  09:59             4,876 Datos_Est_Canete.ipynb
07/02/2015  09:59            45,242 Estaciones_SinOutliers.xlsx
07/02/2015  09:59            12,255 Thomas_Fiering.ipynb
07/02/2015  09:59             3,259 Untitled1.ipynb
              14 archivos      3,384,869 bytes
               2 dirs  37,707,489,280 bytes libres

In [5]:
import pandas as pd
from pylab import *
import numpy as np

In [6]:
Carania=pd.read_excel('1_CARANIA.xlsx','Precipitaciones')

In [7]:
Carania.head(10)

        Fecha  Ppt CARANIA
0  1963-01-01          NaN
1  1963-01-02          NaN
2  1963-01-03          NaN
3  1963-01-04          NaN
4  1963-01-05          NaN
5  1963-01-06          NaN
6  1963-01-07          NaN
7  1963-01-08          NaN
8  1963-01-09          NaN
9  1963-01-10          NaN

In [8]:
Carania.__delitem__('Fecha')
Carania.head(10)

   Ppt CARANIA
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

In [9]:
Carania=np.array(Carania)
Carania

array([[ nan],
       [ nan],
       [ nan],
       ...,
       [ nan],
       [ nan],
       [ nan]])

In [7]:
fecha=np.array(pd.data_range('1/1/1963','31,12,2010'))

NameError: name 'np' is not defined

In [6]:
Carania=pd.DataFrame(data=Carania,index=fecha,columns=['Carania'])

NameError: name 'pd' is not defined

In [14]:
Carania.head(10)

            Carania
1963-01-01      NaN
1963-01-02      NaN
1963-01-03      NaN
1963-01-04      NaN
1963-01-05      NaN
1963-01-06      NaN
1963-01-07      NaN
1963-01-08      NaN
1963-01-09      NaN
1963-01-10      NaN

In [17]:
Carania_mensual=Carania.groupby(lambda m:m.month)
a=Carania_mensual.mean().values
a.reshape(12)

array([ 5.07955841,  7.53416477,  6.11804407,  4.99236919,  1.41011946,
        0.45090777,  0.36858273,  0.38126378,  0.60015038,  1.14740168,
        1.71670297,  3.27236286])

In [19]:
plot(a)
title('Promedios Mensuales')
xlabel('Meses')
ylabel('Ppt mm')
show()

In [28]:
Pacaran=pd.read_excel('3_PACARAN.xlsx','Precipitaciones')

In [29]:
Pacaran.head(10)

        Fecha  Ppt PACARAN
0  1963-01-01          NaN
1  1963-01-02          NaN
2  1963-01-03          NaN
3  1963-01-04          NaN
4  1963-01-05          NaN
5  1963-01-06          NaN
6  1963-01-07          NaN
7  1963-01-08          NaN
8  1963-01-09          NaN
9  1963-01-10          NaN

In [30]:
Pacaran.__delitem__('Fecha')
Pacaran.head(10)

   Ppt PACARAN
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

In [37]:
Pacaran=np.array(Pacaran)
Pacaran=pd.DataFrame(data=Pacaran,index=fecha[:-2],columns=['Pacaran'])

In [38]:
Pacaran.head(10)

            Pacaran
1963-01-01      NaN
1963-01-02      NaN
1963-01-03      NaN
1963-01-04      NaN
1963-01-05      NaN
1963-01-06      NaN
1963-01-07      NaN
1963-01-08      NaN
1963-01-09      NaN
1963-01-10      NaN

In [51]:
len(Pacaran)

17530

In [52]:
len(Carania)

17532

Carania    0
Pacaran    0
dtype: int64